@using Tartak.WebApp.Client.Model
@inherits LayoutComponentBase
@inject User user
@inject IServiceProvider services;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (user.IsLoggedIn)
            {
                <button onclick="@LogOut">Logout</button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    public void LogOut(){
        user.UserLoggedOut();
    }
    protected override async Task OnInitializedAsync()
    {
        user.UserStatusChanged += async (object? sender, EventArgs args) => await InvokeAsync(() =>
                                                                                {
                                                                                    StateHasChanged();
                                                                                });
    }
}
